{% extends 'base.html' %}
{% block content %}
<main class="about">

    <section class="about-section">
      <div class="about-text">
        <h2>About Us</h2>
        <p>
            As CGP Grey once said, 'Leaving the real world: with its class system and people, and untidiness and smells, ascending to the platonic plain of physics, where cows are spheres and people are cellular automaton who will execute instructions perfectly… witnessing such glory is too much for mortal minds to bear for long so we are forced to descend back down into the meat world. The cacophony! The smell!'
        </p>
          <br>
          <p>
            If only this were true. We are a group of A-level STEM (as in only Maths, Further Maths, Physics, Chemistry) students who wish to share our love of physics and maths with others, so that our Physics and Maths Society presentations can forever be immortalised.
        </p>
        <p>
          <i>
            Side note: to clarify, we do accept biology as an equal member of the STEM clan and did not attempt to offend any persons with our so called 'biology slander.' We have many friends who take biology, and they are, on the whole, very nice people.
          </i>
        </p>
          <br>
          <p>
            Behold: greatness.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/assume_textbook.webp" alt="cow?">
      </div>
    </section>

    <section class="about-image-full">
      <img src="static/img/sphericalcow.jpg" alt="cow_meme">
    </section>

    <!-- Person 1 -->
    <section class="about-section">
      <div class="about-text">
        <h3>mooshroom</h3>
        <p>
          for reasons unknown to the rest of us, endures waking up in the wee hours of the morning to row. infectiously passionate about astronomy. side quest: crocheting a cow (?)
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/angus-cow.jpg" alt="angus">
      </div>
    </section>

    <!-- Person 2 -->
    <section class="about-section">
      <div class="about-text">
        <h3>ankina</h3>
        <p>
          extreme f1 and rick and morty fan, from which stemmed a minor obsession with physics. most likely to spice up a physics talk with pop culture references. needs to accept that cows are cooler than charles le clerc.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/ankina-cow.png" alt="ankina">
      </div>
    </section>

    <!-- Person 3 -->
    <section class="about-section">
      <div class="about-text">
        <h3>lynch lineback</h3>
        <p>
          self-proclaimed 'future CEO cow enthusiast billionaire'. likes engineering. radiates nonchalant STEM bro energy yet secretly a massive neek under the impeccable sense of fashion.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/lynch-lineback.jpg" alt="lynch lineback">
      </div>
    </section>

    <!-- Person 4 -->
    <section class="about-section">
      <div class="about-text">
        <h3>maramureş brown</h3>
        <p>
          goated. coded most of this website. avid mathematician using abstract proofs as a form of escapism. heavily despises any mention of the real world. probably knee-deep in a meaty math olympiad problem.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/maramures-brown.png" alt="maramures brown">
      </div>
    </section>

    <!-- Person 5 -->
    <section class="about-section">
      <div class="about-text">
        <h3>wagyu</h3>
        <p>
          best chemistry buddy and lab partner! probably did not read the instructions before completing a practical. super good at magic. in the maths realm.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/wagyu-cow.jpg" alt="Wagyu">
      </div>
    </section>

</main>
{% endblock %}