{% extends 'base.html' %}
{% block content %}
<main class="about">

    <section class="about-section">
      <div class="about-text">
        <h2>About Us</h2>
        <p>
            As CGP Grey once said, 'Leaving the real world: with its class system and people, and untidiness and smells, ascending to the platonic plain of physics, where cows are spheres and people are cellular automaton who will execute instructions perfectly… witnessing such glory is too much for mortal minds to bear for long so we are forced to descend back down into the meat world. The cacophony! The smell!'
        </p>
          <br>
          <p>
            If only this were true. We are a group of A-level STEM (as in only Maths, Further Maths, Physics, Chemistry) students who wish to share our love of physics and maths with others, so that our Physics and Maths Society presentations can forever be immortalised.
        </p>
          <br>
          <p>
            Behold: greatness.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/assume_textbook.webp" alt="cow?">
      </div>
    </section>

    <section class="about-image-full">
      <img src="static/img/sphericalcow.jpg" alt="cow_meme">
    </section>

    <!-- Person 1 -->
    <section class="about-section">
      <div class="about-text">
        <h3>angus/mooshroom</h3>
        <p>
          cool physics content. astronomy! crocheting a cow (?)...
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/angus-cow.jpg" alt="angus">
      </div>
    </section>

    <!-- Person 2 -->
    <section class="about-section">
      <div class="about-text">
        <h3>ankina</h3>
        <p>
          interesting cool physics. needs to accept that cows are cooler than charles le clerc.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/ankina-cow.png" alt="ankina">
      </div>
    </section>

    <!-- Person 3 -->
    <section class="about-section">
      <div class="about-text">
        <h3>lynch lineback</h3>
        <p>
          me! future CEO (cow enthusiast obviously) billionaire. likes engineering
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/lynch-lineback.jpg" alt="lynch lineback">
      </div>
    </section>

    <!-- Person 4 -->
    <section class="about-section">
      <div class="about-text">
        <h3>maramureş brown</h3>
        <p>
          goated; coded most of this website. responsible for olympiad section. avid mathmetician.
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/maramures-brown.png" alt="maramures brown">
      </div>
    </section>

    <!-- Person 5 -->
    <section class="about-section">
      <div class="about-text">
        <h3>wagyu</h3>
        <p>
          funfunfun maths. best chemistry buddy. maths soc and olympiad prep!!
        </p>
      </div>

      <div class="about-image">
        <img src="static/img/wagyu-cow.jpg" alt="Wagyu">
      </div>
    </section>

</main>
{% endblock %}